/*$bg-blue: #1d809f;*/
/*$bg-hover-blue: #155d74;*/
/*$bg-black: #23272b;*/
/*$bg-hover-black: #23272b;*/
/*$font-color: #D6A61B;*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h3, p {
    padding: 0;
    margin: 0;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 18px;
    margin-right: 5px;
}

h1 {
    font-size: 30px;
}

h6 {
    font-style: italic;
    font-family: Times, Times New Roman, Georgia, serif;
}

/*special*/

/*按钮动画*/
.click-btn {
    width: 10%;
    background-color: #1d809f;
    border-color: #1d809f;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    font-weight: 700;
    padding: 1rem 2rem;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    transition: 800ms ease all;
    cursor: pointer;
    position: relative;
}

.click-btn:hover {
    background: #fff;
    color: #155d74;
}

.click-btn:before, .click-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #155d74;
    transition: 400ms ease all;
}

.click-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.click-btn:hover:before, .click-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/*平滑过渡*/
@keyframes appear {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes disappear {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

i {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #ffc30f;
}

/*header*/

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%), url("../images/header-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 3rem 5rem;
    display: flex;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px rgb(52, 52, 52);
    overflow: hidden;
}

.header-content .resume {
    width: 115px;
    height: 145px;
    background: #1d809f;
    position: fixed;
    right: -7%;
    bottom: -12%;
    transform: rotate(40deg);
}

.header-content .resume span {
    position: absolute;
    left:-10%;
    top: 50%;
    transform: rotate(-90deg);
    font-size: 12px;
    color: #ffffff;
}

.header-content .picture {
    width: 400px;
    height: 350px;
    background: url("../images/me.jpg");
    background-size: cover;
}

.header-content > figure {
    margin-left: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.header-content > h1 {
    margin-left: -0.7rem !important;
}

.h {
    color: #000000;
    font-style: italic;
    font-family: Times, Times New Roman, Georgia, serif;
    font-size: 0.67em;
}

.header-content > text {
    display: block;
    min-width: 600px;
    margin-top: 30px;

}

dl dt {
    font-size: 16px;
    min-width: 25%;
    float: left;
    font-weight: 700;
    padding: 15px 0;
}

dd {
    float: left;
    min-width: 65%;
    padding: 15px 0;
}

div {
    margin-top: 20px;
    padding: 10px 0;
}

/*project*/
.project {
    margin: 60px 0;
    text-align: center;
}


/*板块缓动*/
[data-x].show {
    transition: all 2s;
}

[data-x].move {
    transform: translateY(30px);
}

[data-x] {
    transform: translateY(0);
    /* animation: move 0.5s; */
}

@keyframes move {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

.slow-move {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.move1, .move2, .move3, .move4, .move5,.move6 {
    width: 500px;
    height: 400px;
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 2px 6px 12px -10px rgba(0, 0, 0, 0.75);
}

.explain {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 10px 0;
}

.explain h1, h6 {
    color: #ffffff;
}

.explain h1 {
    font-size: 30px;
    font-weight: 700;
}

.explain h6 {
    font-size: 10px;
    letter-spacing: 4px;
    padding-top: 20px;
}

.opacity-bg {

    position: absolute;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg.png");
    transition: all 0.5s;
    padding: 40px;
}

.opacity-bg h2 {
    text-align: left;
    color: #fff;
}

.opacity-bg p {
    color: #ffffff;
    margin-top: 50px;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-ideograph;
}

.opacity-bg a {
    display: inline-block;
    width: 100px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background: #D6A61B;
    margin-top: 80px;
}

.opacity-bg a:hover {
    color: #D6A61B;
    background: #ffffff;
}

.opacity-bg a:before, a:after {
    background: #D6A61B;
}

.move1:hover .explain {
    display: none;
}

.move2:hover .explain {
    display: none;
}

.move3:hover .explain {
    display: none;
}

.move4:hover .explain {
    display: none;
}

.move5:hover .explain {
    display: none;
}

.move6:hover .explain {
    display: none;
}

.move1:hover .opacity-bg {
    display: block;
    border-radius: 6px;
    transform: translateY(145%);
}

.move2:hover .opacity-bg {
    display: block;
    border-radius: 6px;
    transform: translateY(145%);
}

.move3:hover .opacity-bg {
    display: block;
    border-radius: 6px;
    transform: translateY(145%);
}

.move4:hover .opacity-bg {
    display: block;
    border-radius: 6px;
    transform: translateY(145%);
}

.move5:hover .opacity-bg {
    display: block;
    border-radius: 6px;
    transform: translateY(145%);
}

.move6:hover .opacity-bg {
    display: block;
    border-radius: 6px;
    transform: translateY(145%);
}

.move1 {
    background: url("../images/project/cnode.jpg");
}

.move2 {
    background: url("../images/project/share.jpg");
    margin-top: 100px;
}

.move3 {
    background: url("../images/project/drawing-board.jpg");
}

.move4 {
    background: url("../images/project/snake.jpg");
    margin-top: 100px;
}

.move5 {
    background: url("../images/project/nav-search.jpg");
    margin-top: 100px;
}

.move6 {
    background: url("../images/project/css-drawing.jpg");
}

/*Technique*/

.technique {
    padding: 30px 0;
    background: #1D809F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.technique h1 {
    color: #ffffff;
}

.technique h6 {
    color: #D6A61B;
}

.technique .icons {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 50px;
    color: #ffffff;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
    margin: 0 20px;
}

.part h3 {
    margin-top: 20px;
    color: #ffffff;
}

.part ul {
    width: 200px;
    margin: 20px;
}

.part ul li {
    font-size: 13px;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-ideograph;
    font-weight: 400;
}

.icon-part {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon-part .icon {
    color: #1D809F;
    font-size: 60px;
    margin-left: 5%;
}

.experience {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%), url("../images/bg-callout.jpg");
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    border: 1px solid #D6A61B;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 30px;
}

.about p {
    margin: 30px 0 10px 0;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-ideograph;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .icon {
    font-size: 22px;
    color: #1d809f;
}

.contact span {
    margin: 20px;
    font-size: 16px;
}

@media screen and (max-width: 1025px) {
    header {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .header-content .picture {
        width: 600px;
        height: 300px;
    }

    h1 {
        font-size: 24px !important;
    }

    dl dt {
        font-size: 12px;
    }

    dd {
        font-size: 12px;
        margin-left: 20px;
    }

    .click-btn {
        padding: 0.5rem;
    }

    .opacity-bg a {
        margin-top: 50px;
    }

    .technique .icons {
        padding: 0 30px;
        flex-wrap: wrap;
    }

    .header-content .resume {
        right: -10%;
    }
}

@media screen and (max-width: 769px) {
    .header-content {
        width: 100%;
    }

    .move1, .move2, .move3, .move4, .move5,.move6 {
        margin: 0 10px;
    }

    .contact span {
        font-size: 12px;
        text-align: center;
        margin: 10px;
    }

    .header-content .resume {
        width: 85px;
        height: 140px;
        right: -5%;
        bottom: -10%;
    }

    .header-content .resume span {
        left: -15%;
        top: 53%;
    }

}

@media screen and (max-width: 426px) {
    header {
        background: #FAC41F;
    }

    .experience {
        background: #FAC41F;
    }

    .header-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }

    .header-content .picture {
        width: 145px;
        height: 200px;
        margin-bottom: 20px;
    }

    .header-content > figure {
        margin-left: 40px;
    }

    figure {
        justify-content: center;
        align-items: center;
        position: relative;
    }

    figure h1 {
        position: absolute;
        left: 45%;
        top: 0;
        transform: translate(-50%,-50%);
    }

    figure .h {
        position: absolute;
        left: 45%;
        top: 8%;
        transform: translate(-50%,-50%);
    }

    text {
        margin-left: 20%;
        margin-top: 15%;
    }


    .opacity-bg {
        padding: 20px;
    }

    .opacity-bg p {
        font-size: 14px;
        margin-top: 20px;
    }

    .slow-move {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .move1, .move2, .move3, .move4, .move5,.move6 {
        width: 350px;
        height: 350px;
        margin-bottom: 30px;
    }

    .contact {
        flex-direction: column;
        align-items: end;
    }

    .about {
        padding: 10px;
        width: 95%;
    }

    .header-content .resume {
        width: 130px;
        height: 137px;
        right: -17%;
        bottom: -9%;
    }

    .header-content .resume span {
        left: -15%;
        top: 48%;
    }

    dl dt {
        padding: 10px 0;
    }

    dd {
        padding: 10px 0;
    }

    .header-content .resume {
        bottom: -10%;
    }
}

@media screen and (max-width: 376px) {
    .move1, .move2, .move3, .move4, .move5,.move6 {
        width: 290px;
        height: 290px;
    }

    .opacity-bg a {
        margin-top: 20px;
    }

    .opacity-bg h2 {
        font-size: 20px;
    }

    .opacity-bg p {
        font-size: 12px;
        line-height: 20px;
    }

    .about {
        width: 100%;
    }

    text {
        margin-left: 10%;
    }

    .header-content .resume {
        right: -20%;
    }
}

@media screen and (max-width: 321px){
    .header-content .resume span {
        font-size: 10px;
        top: 54%;
    }

    .header-content .resume {
        width: 100px;
    }

    .header-btn {
        margin-top: 0;
    }
}